/* generali */
.mrg-top {
  margin-top: 70px;
}

img {
  height: 200px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

h3 {
  padding: 40px 0 20px 0;
}

.grey {
  background-color: #f9f9f9;
}
/* /generali */

/* colonne */
[class*='col-'] {
  text-align: center;
  padding: 20px 25px 15px 25px;
}
/* /colonne */

/* sezione-cademi */
.img-border-rad {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.cademi .sub-sect:not(.last-sub-sect) {
  margin-bottom: 50px;
}

.sub-sect p {
  margin-bottom: 20px;
}
/* /sezione-cademi */

/* responsive */
/* 768px-991: tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {

  [class*='col-'] {
    margin-top: 20px;
  }

  [class*='col-'] p {
    font-size: 22px;
    color: grey;
  }

  [class*='col-'] h3 {
    font-size: 25px;
  }

  img {
    height: 150px;
  }

  h2 {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  #lezioni {
    color: red;
  }

  #step {
    color: blue;
  }

  #prc-cademi {
    color: green;
  }

  .mrg-top {
    -webkit-box-shadow: 0 0 10px 1px lightgrey;
    -moz-box-shadow: 0 0 10px 1px lightgrey;
    box-shadow: 0 0 10px 1px lightgrey;
  }

  .mrg-top-md {
    margin-top: 0;
  }
}
/* / 768px-991: tablet */

/* < 767px: smartphone */
@media screen and (max-width: 991px) {

  img {
    height: 110px;
  }

  [class*='col-'] {
    padding: 20px 50px 15px 50px;
  }

  [class*='col-'] p {
    font-size: 18px;
    color: grey;
  }

  [class*='col-'] h3 {
    font-size: 22px;
  }

  h2 {
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  #lezioni {
    color: red;
  }

  #step {
    color: blue;
  }

  #prc-cademi {
    color: green;
  }

  .mrg-top {
    -webkit-box-shadow: 0 0 10px 1px lightgrey;
    -moz-box-shadow: 0 0 10px 1px lightgrey;
    box-shadow: 0 0 10px 1px lightgrey;
  }

  .mrg-top-md {
    margin-top: 0;
  }

}

/* / < 767px: smartphone */
